<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Processing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-warning" href="index.html">Machine Learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-warning" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#"></a>
                </li>
                <!-- original dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Project Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="cleaning.html">Data Cleaning</a>
                        <a class="dropdown-item" href="dataprocessing.html">Data Processing</a>
                        <a class="dropdown-item" href="models.html">Explored Models</a>
                        <!-- <a class="dropdown-item" href="logistic.html">Logistic Regression Model</a>
                        <a class="dropdown-item" href="randomforest.html">Random Forest Model</a> -->
                        <br>
                        <!-- <a class="dropdown-item" href="Template.html">Template</a> -->
                        <a class="dropdown-item" href="form.html">Prediction Form</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Top Banner-->
    <div class="container">
        <div class="jumbotron">
            <div class="container" src=>
                <h1 class="jumbotron-heading">Telecom Customer Churn Prediction</h1>
        </div>
    </div>

        <div class="container">
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-12">
                    <h2 style="color:DodgerBlue;" class="featurette-heading">Data Processing Approach<span
                            class="text-muted"></span></h2>

                    <p class="lead">
                        We have performed data preprocessing, Missing Value Analysis, Feature Engineering, identified
                        most valuable customers, tagged churners, and performed required EDA. We have mentioned few
                        inferences observed during EDA.

                    </p>

                </div>
            </div>
            <div class="col-md-1">

                <img src="../static/images/dataprocessing_approach.png" style="width:1000px;height:500px;">

            </div>

            <div class="row">

                <div class="col-6 col-md-4">
                    <h5 style="color:DodgerBlue;">Data set with all columns and Datatypes</h5><img
                        src="../static/images/datacleaning.png" style="width:300px;height:300px;">
                </div>
                <div class="col-6 col-md-4">
                    <h5 style="color:DodgerBlue;">Before removing the null values in dataset</h5><img
                        src="../static/images/before_clean_total_charge.png" style="width:300px;height:300px;">
                </div>
                <div class="col-6 col-md-4">
                    <h5 style="color:DodgerBlue;">After removing the null values in dataset</h5><img
                        src="../static/images/after_clean_total_charge.png" style="width:300px;height:300px;">
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Analysis of data columns to identify Explantory and Response
                        variables<span class="text-muted"></span> </h2>
                    <p class="lead">X is the independent variables or also called the Explantory Variable -the variables
                        we are using to make predictions<br>
                        The variables we identified that describe the product/service and customer behaviour:
                    </p>
                    <ul>
                        <li>Tenure in Months - number of months the customer has stayed with the company</li>
                        <li>PhoneService - whether the customer has a phone service or not (Yes, No)</li>
                        <li>MultipleLines - whether the customer has multiple lines or not (Yes, No, No phone service)
                        </li>
                        <li>InternetService - customer’s internet service provider (DSL, Fiber optic, No)</li>
                        <li>OnlineBackup - whether the customer has online backup or not (Yes, No, No internet service)
                        </li>
                        <li>DeviceProtection - whether the customer has device protection or not (Yes, No, No internet
                            service)</li>
                        <li>TechSupport - whether the customer has tech support or not (Yes, No, No internet service)
                        </li>
                        <li>StreamingTV - whether the customer has streaming TV or not (Yes, No, No internet service)
                        </li>
                        <li>StreamingMovies - whether the customer has streaming movies or no(Yes, No, No internet
                            service)</li>
                        <li>PaperlessBilling - bills issued in paperless form </li>
                        <li>PaymentMethod - payment method used by customer (Electronic check, Mailed check, Credit card
                            (automatic), Bank transfer (automatic))</li>
                        <li>MonthlyCharges - amount of charge for service on monthly bases</li>
                        <li>TotalCharges - cumulative charges for service during subscription (tenure) period</li>
                        <li>Contract - type of contract according to duration (Month-to-month, One year, Two year)</li>

                    </ul>
                    </p>
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/300x300/auto" alt="500x500"
                        src=../static/images/column_selection.png data-holder-rendered="true"
                        style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-4">
                    <h2 class="featurette-heading">y is the dependent variable or also described as Response
                        variable/Outcome Variable - variable we are trying to predict or estimate.<span
                            class="text-muted"></span></h2>
                    <p class="lead"> In our project we
                        are looking into a Binary outcome of whether the customer will Churn or not. </p>
                        <ul>
                            <li>Customer Status– output value, predict variable</li>
                            <li>Customer Category- whether the customer is satisfied or not</li>
                            <li>Customer Reason- reason for churn</li>
                          </ul>
                </div>
                <div class="col-md-8">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                        src="../static/images/churn_correlation.png"
                        data-holder-rendered="true" style="width: 800px; height: 500px;">
                </div>
            </div>
 
            <hr class="featurette-divider">

        </div>
        </div>



        <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p class="lead text-muted">Created by: Deepa Nair, Denise Demerkol, Jeya Emmanuel, Kevin McConchie,
                Kinlay Denning, Radhika Alapati
            </p>
        </footer>
    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <script src="./static/data.js"></script>
    <script src="./static/app.js"></script> -->
</body>

</html>